@font-face{
	font-family:"fuente linda";
	src: url(fonds/Tagesschrift-Regular.ttf)
}
body{
	 background-color: darkslategray;
	 font-family: "fuente linda";
	 font-size:xx-large;

}
h1{
    color: #2e0202(58, 18, 18)
}
div{
    width: 90%;
}
img{
	height: 100;
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.texto{
    width: 100%;
	background-color:blank;
    text-align: center;
}
.grupo-fotos {
	width: 100%;
	background-color: darkolivegreen;
}
.foto{
    background-color: burlywood(240, 205, 146);
    width: 20%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.myButton:active {
	position:relative;
	top:1px;
}
#listanav{
	background-color: #023816;
	list-style: none;
	border-radius: 5px;
}
#listanav a{
	text-decoration: none;
	color: darkolivegreen;
	font-size: 20px;
}
#listanav a:hover{
	color: #154227;
}
#listanav li{
	display: inline-block;
	padding: 5px;
}

.table1 th{
	background-color: #f0a441;
	border: #462903;
	border-style: double;
}
.table1 td{
	background-color: #f0a441;
	border: #462903;
	border-style: double;
}
.table2 th{
	background-color: #5a0505;
	border: #811f1f;
	border-style: double;
}
.table2 td{
	background-color: #5a0505;
	border: #811f1f;
	border-style: double;
}