@font-face{
	font-family:"fuente linda";
	src: url(fonts/Edu_SA_Hand.zip);
}
body{
	 background-color: rgba(121, 26, 26, 0.719);
	 font-family: "fuente linda";
	 font-size:xx-large;

}
h1{
    color: #2e0202(58, 18, 18)
}

div{
    width: 90%;
}
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
img{
	width: 50%;
    margin-left: 5%;
    margin-right: 5%;
	border-radius: 8px;
}
.texto{
    width: 100%;
	background-color:blank;
    text-align: center;
	
}
.grupo-fotos {
	width: 90%;
	background-color: burlywood(216, 218, 120);
	display: flex;
    flex-direction: row;
	display: flex;
    flex-wrap: nowrap;
}
.ciudades {
	background-color:  #4b0707(247, 235, 127);
	display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}
.foto1{
	  background-color: burlywood(240, 205, 146);
     display: inline-block;
	display:flex;
	flex-direction: row;
}
.foto{
    background-color: burlywood(240, 205, 146);
     display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
	border-radius: 8px;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #2c0101;
	background:linear-gradient(to bottom, #790a19 5%, #3a0202 100%);
	background-color:#63141496;
	border-radius:6px;
	border:1px solid #5a1010;
	display:inline-block;
	cursor:pointer;
	color:#dd7a7a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #410303;
}
.myButton:hover {
	background:linear-gradient(to bottom, #790707 5%, #4b0707 100%);
	background-color:#530505;
}
.myButton:active {
	position:relative;
	top:1px;
}
#listanav{
	background-color: #4b0707;
	list-style: none;
	border-radius: 5px;
}
#listanav a{
	text-decoration: none;
	color: rgb(241, 247, 161);
	font-size: 20px;
}
#listanav a:hover{
	color:  #4b0707;
}
#listanav li{
	display: inline-block;
	padding: 5px;
}

.table1 th{
	background-color: #f0a441;
	border: #462903;
	border-style: double;
}
.table1 td{
	background-color: #f0a441;
	border: #462903;
	border-style: double;
}
.table2 th{
	background-color: #5a0505;
	border: #811f1f;
	border-style: double;
}
.table2 td{
	background-color: #5a0505;
	border: #811f1f;
	border-style: double;
}