body{
    background-color: darkslategray;
}
h1{
    color: #2e0202(58, 18, 18)
}
div{
    width: 90%;
}
img{
    height: 100%;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
}
.texto{s
    width: 100%;
    text-align: center;
}
.foto{
    background-color: burlywood(240, 205, 146);
    width: 50%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}